


body {
    background-image: linear-gradient(rgb(71, 71, 71),rgb(34, 34, 34));
    background-repeat:repeat-x;
    background-color:rgb(34, 34, 34) ;

}



.toppage {
    padding: 10px;
    height: fit-content;
    justify-content: space-between;
    display: flex;
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
}



.mainFont {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    color: white;
    font-weight:bold;
    font-size: 3vw;
    
}

.SecondFont {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    color: white;
    font-weight:bold;
    font-size: 2vw;

}

.theHead {
    background-color: antiquewhite;
    text-align: center;
}

#login_p {
    width:200px;
    height: fit-content;
    padding: 10px;
    
}
#login_p input {
    margin: 5px;
    margin-right: 10%;
    margin-left: 10%;
    direction: rtl;
    width: 80%;
}

#login_p button {
    margin: 5px;
    margin-right: 25%;
    margin-left: 25%;
    width:50%;
}



.search {
    display: flex;
    
    margin-top:20px;
    margin-bottom:20px;
}

.search input {
    background-color:rgb(49, 49, 49) ;
    width:80%;
    border: 0px;
    font-size: 5vw;
   color:white;
   height:7vw;
   padding-left:10px;
   margin:0;
}

.search button {
    padding:10px;
    margin:0;
    height: 7vw;
    border:0;
    
    width: 20%;
    background-color: red;
}

.web{
height: 1200px;
width:auto;

}


#cars_Image {
    width:25vw;
}
.show {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    animation-name: display;
    animation-timing-function:initial;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}

.footer {
    margin-top:100px;
    background-color:rgb(49, 49, 49);
    height:auto;
    width: 9%;
    padding:10px;
    

}

.logo {
    background-color:rgb(49, 49, 49);
    height:auto;
    width: auto;
    padding:5px;
    display: grid;
    float: left;
}

.car_logo {
    background-color:rgb(49, 49, 49);
    text-align: center;
    background: none;
    border: 0;
    width: 9vw;
    height: 9vw;
}

.car_logo:hover{
    background-color: rgb(31, 31, 31);
}

.contaner {
    background-color:rgb(43, 43, 43);
    
    padding:0.5vw;
    margin-bottom:1vw;
    border-radius: 10px;
    width: 25vw;
    min-height: 30vw;
}





@media(min-width: 1000) {

    .contaner {
     width:100px;
     background-color: brown;
    }

}


@keyframes display{
    0% {  margin-right:5%};
    100% {  margin-right:0%};
   }